* {
	box-sizing: border-box;
}
body {
	font-family: Arial, Helvetica, sans-serif;
}
section {
	float: left;
}
div {
	background-color: #a0a0a0;
	border: 1px solid black;
	margin: 10px;
}
h1 {
	font-size: 175%;
	text-align: center;
	margin-bottom: 30px;
}
h2 {
	border: 1px solid black;
	font-size: 125%;
	width: 100px;
	text-align: center;
	float: right;
	margin-top: 0px;
}
p{
	clear: right;
	padding-left: 10px;
	padding-right: 10px;
}
#title1 {
	background-color: #fab0b5; 
}
#title2 {
	background-color: #e8524c;
	color: #ffffff;
}
#title3 {
	background-color: #ffeba9;
}


@media (min-width: 992px) {
  section {
  	width: 33.33%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  section.p1, section.p2 {
  	width: 50%;	 
  }
}
